<div class="card">
    <h4 class="card-header text-center">Your Account</h4>
    <div class="card-body">
        <div class="d-grid gap-2">
            <%= link_to 'Settings', edit_user_path(current_user), class: 'btn btn-outline-secondary btn-sm' %>
            <%= link_to '+ New Product', new_product_path, class: 'btn btn-outline-secondary btn-sm' if current_user.account_type == 2 %>
            <%= link_to 'Logout', logout_path, class: 'btn btn-outline-danger btn-sm' %>
        </div>
    </div>
</div>
<hr />