<label for="user_account_type">Select an Account Type</label>
<select id="user_account_type" name="user[account_type]" class="form-control">
    <option value="1">Buyer</option>
    <option value="2">Seller</option>
</select>