<div class="card">
    <h4 class="card-header text-center"><%= @user.first_name %> <%= @user.last_name %></h4>
    <div class="card-body">
        <div class="d-grid gap-2">
            <%= user_image @user %>
        </div>
    </div>
</div>
<hr />