<div class="card">
    <h4 class="card-header text-center">Wallet</h4>
    <div class="card-body">
        <div class="d-grid gap-2" style="text-align: right;">
            Balance: <br>
            <h4><%= number_to_currency @user.balance %></h4>
        </div>
    </div>
</div>
<hr />