<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br />
        <h1>Account Settings</h1>
        <hr />
        <%= render partial: 'form', locals: { user: @user } %>
    </div>
</div>