<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>All Sellers</h1>
        
        <% @sellers.each do |seller| %>
            <li><%= link_to "#{ seller.first_name } #{ seller.last_name }", user_path(seller) %></li>
        <% end %>
    </div>
</div>