<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>All Sellers</h1>
        <hr />
        
        <% @sellers.each do |seller| %>
            <%= render partial: 'display_seller_card', locals: { seller: seller } %>
        <% end %>
    </div>
</div>