<h3>Departments</h3>
<ul class="list-group">
    <% departments.each do |department| %>
        <li class="list-group-item <%= active_product_item(department) %>"><%= link_to department.name, department_products_path(department) %></li>
    <% end %>
</ul>