<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>All Departments</h1>
        
        <% @departments.each do |department| %>
            <% if !department.products.empty? %>
                <h2><%= link_to department.name.capitalize, department_products_path(department) %></h2><hr />
                <%= render partial: 'products/display_products', locals: { products: department.products } %>
            <% end %>
        <% end %>
    </div>
</div>