<div class="row">
    <%= render partial: 'layouts/search_home' %>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <br />
        <div class="row">
            <% @departments.each do |department| %>
                <% if !department.products.empty? %>
                    <h2><%= department.name.capitalize %></h2><hr />
                    <%= render partial: 'products/display_products', locals: { products: department.products } %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>