<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h1>Error: <u>Page Not Found</u></h1>
        <h2 style="color: #555;">It appears this page does not exist</h2>
    </div>
</div>