<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1><%= current_user.first_name %>'s Cart <small class="text-muted">(<%= @cart.size %>)</small></h1>

        <%= display_cart_products( @cart ) %>

        <%= render partial: 'place_order_button' if !@cart.empty? %>
    </div>
</div>

<br /><br /><br /><br />
