/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    background-color: #212428;
}

body {
    font-size: 13px;
    background-color: #eaecec;
    min-height: 100vh;
}

.field_with_errors {
    color: red;
}

h1, h2, h3, h4, h5, h6, .product-price {
    font-family: 'Bebas Neue', cursive;
}

.card, .btn {
    border-radius: 0px;
}

.card-title a {
    color: #555;
}

a {
    text-decoration: none;
}

.nav-logo {
    width: 150px;
}

.search-logo {
    width: 100%;
}

.btn-custom {
    background-color: #30497f;
    color: #fff;
    border: none;
    transition-duration: 0.25s;
}

.btn-custom:hover {
    background-color: #496fc0;
    color: #fff;
}

.nav-users {
    padding: 15px 35px;
    background-color: #30497f;
    text-align: right;
}

.nav-users a {
    color: #fff;
    padding: 10px;
}

.nav-users a:hover, .nav-logo:hover {
    border: solid 1px #eee;
}

.active a {
    color: #fff;
}

.product-price {
    font-size: 30px;
}

.related-products-container {
    width: 2000px;
    overflow-x: scroll;
    border: solid 1px #000;
}

.related-product-img {
    height: 150px;
}

.product-image-height {
    height: auto;
}