<div class="card text-dark bg-light mb-3" style="width: 100%;">
    <h4 class="card-header text-center">Your Cart (<%= current_user.cart_size %>)</h4>
    <div class="card-body">
        <% if !@cart.empty? %>
            <% @cart.each do |cart| %>
                <h5><%= cart.product.name %></h5>
                <%= product_image( cart.product ) %>
                <hr />
            <% end %>

            <div class="d-grid gap-2">
                <%= link_to 'View Cart', user_cart_path( current_user, current_user.cart ), class: 'btn btn-warning btn-sm' %>
            </div>
        <% else %>
            <div class="alert alert-dark text-center">Your Cart is Empty</div>
        <% end %>
    </div>
</div>