<div class="card text-dark bg-light mb-3" style="width: 100%;">
    <div class="card-header text-center">Your Cart</div>
    <div class="card-body">
        <% if !current_user.cart.products.empty? %>
            <% current_user.cart.products.each do |item| %>
                <li><%= item.name %></li>
            <% end %>
        <% else %>
            <h5 class="card-title">Your Cart is Empty</h5>
        <% end %>
    </div>
</div>