<br />
<div class="row">
    <div class="col-md-9">
        <%= render partial: 'display_single_product', locals: { product: @product } %>
    </div>
    <div class="col-md-3">
        <div class="card text-dark bg-light mb-3" style="width: 100%;">
            <div class="card-header text-center">Your Cart</div>
            <div class="card-body">
                <h5 class="card-title">Your Cart is Empty</h5>
                <p class="card-text">No data to display</p>
            </div>
        </div>
    </div>
</div>
