<div class="row">
    <div class="col-md-12 nav-users">
        <%= link_to 'Create a New Product', new_product_path %>
        <%= link_to 'Your Products', user_products_path(current_user) %>
    </div>
</div>